DERMSInterface/DERMSInterface/Service References/CIMDERGroupDispatch/RequestDERGroupDispatchMessage.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:msg="http://iec.ch/TC57/2011/schema/message" xmlns:tns="http://iec.ch/TC57/2011/DERGroupDispatchMessage" xmlns:obj="http://www.epri.com/2013/DERGroupDispatch#" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://iec.ch/TC57/2011/DERGroupDispatchMessage" version="1.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="Message.xsd" namespace="http://iec.ch/TC57/2011/schema/message" />
  <xs:import schemaLocation="DERGroupDispatch.xsd" namespace="http://www.epri.com/2013/DERGroupDispatch#" />
  <xs:complexType name="DERGroupDispatchPayloadType">
    <xs:sequence>
      <xs:element ref="obj:DERGroupDispatches" />
      <xs:element minOccurs="0" name="OperationSet" type="msg:OperationSet" />
      <xs:element minOccurs="0" name="Compressed" type="xs:string">
        <xs:annotation>
          <xs:documentation>For compressed and/or binary, uuencoded
						payloads</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Format" type="xs:string">
        <xs:annotation>
          <xs:documentation>Hint as to format of payload, e.g. XML, RDF, SVF,
						BINARY,
						PDF, ...</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DERGroupDispatchRequestMessageType">
    <xs:sequence>
      <xs:element name="Header" type="msg:HeaderType" />
      <xs:element minOccurs="0" name="Request" type="msg:RequestType" />
      <xs:element minOccurs="0" name="Payload" type="tns:DERGroupDispatchPayloadType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DERGroupDispatchResponseMessageType">
    <xs:sequence>
      <xs:element name="Header" type="msg:HeaderType" />
      <xs:element name="Reply" type="msg:ReplyType" />
      <xs:element minOccurs="0" name="Payload" type="tns:DERGroupDispatchPayloadType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DERGroupDispatchEventMessageType">
    <xs:sequence>
      <xs:element name="Header" type="msg:HeaderType" />
      <xs:element minOccurs="0" name="Payload" type="tns:DERGroupDispatchPayloadType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DERGroupDispatchFaultMessageType">
    <xs:sequence>
      <xs:element name="Reply" type="msg:ReplyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateDERGroupDispatch" type="tns:DERGroupDispatchRequestMessageType" />
  <xs:element name="ChangeDERGroupDispatch" type="tns:DERGroupDispatchRequestMessageType" />
  <xs:element name="CancelDERGroupDispatch" type="tns:DERGroupDispatchRequestMessageType" />
  <xs:element name="CloseDERGroupDispatch" type="tns:DERGroupDispatchRequestMessageType" />
  <xs:element name="DeleteDERGroupDispatch" type="tns:DERGroupDispatchRequestMessageType" />
  <xs:element name="CreatedDERGroupDispatch" type="tns:DERGroupDispatchEventMessageType" />
  <xs:element name="ChangedDERGroupDispatch" type="tns:DERGroupDispatchEventMessageType" />
  <xs:element name="CanceledDERGroupDispatch" type="tns:DERGroupDispatchEventMessageType" />
  <xs:element name="ClosedDERGroupDispatch" type="tns:DERGroupDispatchEventMessageType" />
  <xs:element name="DeletedDERGroupDispatch" type="tns:DERGroupDispatchEventMessageType" />
  <xs:element name="DERGroupDispatchResponseMessage" type="tns:DERGroupDispatchResponseMessageType" />
  <xs:element name="DERGroupDispatchFaultMessage" type="tns:DERGroupDispatchFaultMessageType" />
</xs:schema>