DER/wsdl/xsd/GetDERGroupStatuses.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2015 rel. 4 sp1 (x64) (http://www.altova.com) by Gerald Gray (Electric Power Research Institute) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
xmlns:a="http://langdale.com.au/2005/Message#" 
xmlns:sawsdl="http://www.w3.org/ns/sawsdl" 
xmlns="http://langdale.com.au/2005/Message#" 
xmlns:m="http://www.epri.com/2016/GetDERGroupStatuses#" targetNamespace="http://www.epri.com/2016/GetDERGroupStatuses#" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation>Draft of DERGroupStatus - This is what is returned on a request for status, assumed to be asked by DERGroup. The group
will be optionally identified either by mRID or Names.name. There will also be an identifier for this status, again, using mRID or the
Names.name class. The status will return "what can you give me" in terms of power or (?).</xs:documentation>
	</xs:annotation>
	<xs:element name="GetDERGroupStatuses" type="m:DERGroupStatuses"/>
	<xs:complexType name="DERGroupStatuses">
		<xs:sequence>
			<xs:element name="DERGroupStatus" type="m:DERGroupStatus" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DERGroupStatus">
		<xs:sequence>
			<xs:element name="mRID" type="m:mRID" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema- cim15#IdentifiedObject.mRID">
				<xs:annotation>
					<xs:documentation>A Model Authority issues mRIDs. Given that each Model Authority has a unique id and this id is part of the mRID, then the mRID is globally unique.</xs:documentation>
					<xs:documentation>Global uniqeness is easily achived by using a UUID for the mRID. It is strongly recommended to do this.</xs:documentation>
					<xs:documentation>For CIMXML data files the mRID is mapped to rdf:ID or rdf:about attributes that identifies CIM object elements.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Names" type="m:Name" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.Names">
				<xs:annotation>
					<xs:documentation>All names of this identified object.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="extensionsList" type="m:extensionsList" minOccurs="0"/>
			<xs:element name="EndDeviceGroup" type="m:EndDeviceGroup" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="extensionsList">
		<xs:annotation>
			<xs:documentation>This is an optional, self-describing means to extend any MultiSpeak object.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="extensionsItem" type="m:extensionsItem" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="extensionsItem">
		<xs:annotation>
			<xs:documentation>This is an optional means to add self-describing extensions to any class that inherits from the mspObject.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="extName" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="extValue" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="extType" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="extValue">
		<xs:annotation>
			<xs:documentation>This is the value of the extensionsItem. The units of this extensionsItem are included in the Units attrbute on extValue.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="units" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>If used, this attribute carries the units in which the extValue is expressed. </xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Name" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Name">
		<xs:annotation>
			<xs:documentation>The Name class provides the means to define any number of human readable names for an object. A name is &lt;b&gt;not&lt;/b&gt; to be used for defining inter-object relationships. For inter-object relationships instead use the object identification ‘mRID.’</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema- cim15#Name.name">
				<xs:annotation>
					<xs:documentation>Any free text that name the object.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NameType" type="m:NameType" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM- schema-cim15#Name.NameType">
				<xs:annotation>
					<xs:documentation>Type of this name.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NameType" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameType">
		<xs:annotation>
			<xs:documentation>Type of name. Possible values for attribute ‘name’ are implementation dependent but standard profiles may specify types. An enterprise may have multiple IT systems each having its own local name for the same object, e.g. a planning system may have different names from an EMS. An object may also have different names within the same IT system, e.g. localName and aliasName as defined in CIM version 14. Their definitions from CIM14 are</xs:documentation>
			<xs:documentation>The localName is a human readable name of the object. It is only used with objects organized in a naming hierarchy. localName: A free text name local to a node in a naming hierarchy similar to a file directory structure. A power system related naming hierarchy may be: Substation, VoltageLevel, Equipment etc. Children of the same parent in such a hierarchy have names that typically are unique among them.</xs:documentation>
			<xs:documentation>aliasName: A free text alternate name typically used in tabular reports where the column width is limited.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM- schema-cim15#NameType.description">
				<xs:annotation>
					<xs:documentation>Description of the name type.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema- cim15#NameType.name">
				<xs:annotation>
					<xs:documentation>Name of the name type.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NameTypeAuthority" type="m:NameTypeAuthority" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameType.NameTypeAuthority">
				<xs:annotation>
					<xs:documentation>Authority responsible for managing names of this type.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NameTypeAuthority" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameTypeAuthority">
		<xs:annotation>
			<xs:documentation>Authority responsible for creation and management of names of a given type; typically an organization or an enterprise system.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM- schema-cim15#NameTypeAuthority.description">
				<xs:annotation>
					<xs:documentation>Description of the name type authority.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema- cim15#NameTypeAuthority.name">
				<xs:annotation>
					<xs:documentation>Name of the name type authority.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Status" sawsdl:modelReference="http://iec.ch/TC57/2009#Status">
		<xs:sequence>
			<xs:element name="dateTime" type="xs:dateTime" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2009#Status.dateTime"/>
			<xs:element name="reason" type="xs:string" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2009#Status.reason"/>
			<xs:element name="remark" type="xs:string" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2009#Status.remark"/>
			<xs:element name="value" type="xs:string" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2009#Status.value"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EndDeviceGroup">
		<xs:sequence>
			<xs:element name="mRID" type="m:mRID" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.mRID">
				<xs:annotation>
					<xs:documentation>A Model Authority issues mRIDs. Given that each Model Authority has a unique id and this id is part of the mRID, then the mRID is globally unique. Global uniqeness is easily achived by using a UUID for the mRID. It is strongly recommended to do this. For CIMXML data files the mRID is mapped to rdf:ID or rdf:about attributes that identifies CIM object elements. For DERGroup purposes, this has been restricted further to be a GUID. See the simpleType definition.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Names" type="m:Name" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.Names">
				<xs:annotation>
					<xs:documentation>All names of this identified object. If there are alternative names or sources of names, and a need to tie to another source beyond the supplied name and mRID, this is another way to document that information.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ActivePower">
		<xs:annotation>
			<xs:documentation>Expressed in Watts, with a symbol of W.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="multiplier" type="m:multiplier"/>
			<xs:element name="unit" type="xs:string" default="W"/>
			<xs:element name="value" type="xs:float"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ApparentPower">
		<xs:annotation>
			<xs:documentation>Expressed in Volt-Ampere, with a symbol of VA.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="multiplier" type="m:multiplier"/>
			<xs:element name="unit" type="xs:string" default="VA"/>
			<xs:element name="value" type="xs:float"/>
		</xs:sequence>
	</xs:complexType>
	<!--<xs:complexType name="ReactivePower">
		<xs:annotation>
			<xs:documentation>Expressed in Vars, with a symbol of VAr.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="multiplier" type="m:multiplier"/>
			<xs:element name="unit" type="xs:string" default="VAr"/>
			<xs:element name="value" type="xs:float"/>
		</xs:sequence>
	</xs:complexType>-->
	<xs:simpleType name="multiplier">
		<xs:restriction base="xs:string">
			<xs:annotation>
				<xs:documentation>For the pruposes of DER the prefixes from milli to giga will be used.
						giga		G	1,000,000,000
						mega	M	1,000,000	
						kilo		k	1,000
						hecto	h	100
						deka		da	10
						deci		d	0.1	10-1
						centi		c	0.01	10-2
						milli		m	0.001	10-3
			</xs:documentation>
			</xs:annotation>
			<xs:enumeration value="G"/>
			<xs:enumeration value="M"/>
			<xs:enumeration value="k"/>
			<xs:enumeration value="h"/>
			<xs:enumeration value="da"/>
			<xs:enumeration value="d"/>
			<xs:enumeration value="c"/>
			<xs:enumeration value="m"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="mRID">
		<xs:annotation>
			<xs:documentation>This is intended to be a universally unique identifier (UUID) for an instance of an object.  It is intended that this identifier is compliant with the IETF RFC 4122 ("A Universally Unique IDentifier URN Namespace") definition of a UUID. Furthermore, the pattern used to restrict the xs:string should support any of the RFC 4122 UUID variants, including the Microsoft Globally Unique Identifier (GUID) variant of the UUID, without being restricted to supporting ONLY the Microsoft GUID definition.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
