DERMSInterface/DERMSInterface/Service References/CIMGetDERGroupStatus/DERGroupStatus1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://langdale.com.au/2005/Message#" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:m="http://www.epri.com/2013/DERStatus#" xmlns:a="http://langdale.com.au/2005/Message#" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.epri.com/2013/DERStatus#" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation />
  </xs:annotation>
  <xs:element name="DERGroupStatuses" type="m:DERGroups" />
  <xs:element name="DERGroupCapabilities" type="m:DERGroups" />
  <xs:complexType name="DERGroups">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="EndDeviceGroup" type="m:EndDeviceGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EndDeviceGroup">
    <xs:annotation>
      <xs:documentation>DERGroup is a convention for a Distributed Energy Resource Management System (DERMS) to group DER devices to ease communication with other utility systems. Groups could be created with any organizing principle, by device type, by location, by nameplate characteristics, etc.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.mRID" minOccurs="0" name="mRID" type="m:mRID">
        <xs:annotation>
          <xs:documentation>A Model Authority issues mRIDs. Given that each Model Authority has a unique id and this id is part of the mRID, then the mRID is globally unique. Global uniqeness is easily achived by using a UUID for the mRID. It is strongly recommended to do this. For CIMXML data files the mRID is mapped to rdf:ID or rdf:about attributes that identifies CIM object elements. For DERGroup purposes, this has been restricted further to be a GUID. See the simpleType definition.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.Names" minOccurs="0" maxOccurs="unbounded" name="Names" type="m:Name">
        <xs:annotation>
          <xs:documentation>All names of this identified object. If there are alternative names or sources of names, and a need to tie to another source beyond the supplied name and mRID, this is another way to document that information.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="CapabilityList">
        <xs:annotation>
          <xs:documentation>While each of these elements individually is optional (and also optional if this XSD is used only to pass status) when adding or updating a DERGroup one of these elements must be populated. The capability, when used here, is for the DERGroup (the aggregate value of all DERMembers), whereas when used for a particular DER, is the capability for that resource. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="currentActivePower" type="m:ActivePower" />
            <xs:element minOccurs="0" name="currentApparentPower" type="m:ApparentPower" />
            <xs:element minOccurs="0" name="currentReactivePower" type="m:ReactivePower" />
            <xs:element minOccurs="0" name="minActivePower" type="m:ActivePower" />
            <xs:element minOccurs="0" name="minApparentPower" type="m:ApparentPower" />
            <xs:element minOccurs="0" name="minReactivePower" type="m:ReactivePower" />
            <xs:element minOccurs="0" name="maxActivePower" type="m:ActivePower" />
            <xs:element minOccurs="0" name="maxApparentPower" type="m:ApparentPower" />
            <xs:element minOccurs="0" name="maxReactivePower" type="m:ReactivePower" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Version">
        <xs:annotation>
          <xs:documentation>The use of version allows not only a DERGroup to be retrieved, but to also ascertain changes in group membership over time based on the specific version number and the date of the version. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="major" type="xs:integer">
              <xs:annotation>
                <xs:documentation> version is to use the x.x.x.x format</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="minor" type="xs:integer" />
            <xs:element name="revision" type="xs:integer" />
            <xs:element name="versionDate" type="xs:dateTime">
              <xs:annotation>
                <xs:documentation>Date/Time associated with this version.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Status" type="m:Status">
        <xs:annotation>
          <xs:documentation>Used to pass on the status of the DERGroup. Some examples include using this to pass error codes to send notification of changes to availability.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation>While the name element is optional for most interactions, when a DERGroup is created it MUST be populated.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EndDevice" type="m:DERMember">
        <xs:annotation>
          <xs:documentation>For the purposes of this profile, this is a container for the information for any specific DER that is a member of a DERGroup.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="extensionsList" type="m:extensionsList">
        <xs:annotation>
          <xs:documentation>Used to extend the XSD for new requirements ahead of them being ratified in a standard.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="description" />
    <xs:attribute name="comment" />
  </xs:complexType>
  <xs:complexType sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Name" name="Name">
    <xs:annotation>
      <xs:documentation>The Name class provides the means to define any number of human readable  names for an object. A name is &lt;b&gt;not&lt;/b&gt; to be used for defining inter-object relationships. For inter-object relationships instead use the object identification 'mRID'.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Name.name" minOccurs="1" maxOccurs="1" name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation>Any free text that name the object.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Name.NameType" minOccurs="0" maxOccurs="1" name="NameType" type="m:NameType">
        <xs:annotation>
          <xs:documentation>Type of this name.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameType" name="NameType">
    <xs:annotation>
      <xs:documentation>Type of name. Possible values for attribute 'name' are implementation dependent but standard profiles may specify types. An enterprise may have multiple IT systems each having its own local name for the same object, e.g. a planning system may have different names from an EMS. An object may also have different names within the same IT system, e.g. localName and aliasName as defined in CIM version 14. Their definitions from CIM14 are</xs:documentation>
      <xs:documentation>The localName is a human readable name of the object. It is only used with objects organized in a naming hierarchy. localName: A free text name local to a node in a naming hierarchy similar to a file directory structure. A power system related naming hierarchy may be: Substation, VoltageLevel, Equipment etc. Children of the same parent in such a hierarchy have names that typically are unique among them.</xs:documentation>
      <xs:documentation>aliasName: A free text alternate name typically used in tabular reports where the column width is limited.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameType.description" minOccurs="0" maxOccurs="1" name="description" type="xs:string">
        <xs:annotation>
          <xs:documentation>Description of the name type.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameType.name" minOccurs="1" maxOccurs="1" name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation>Name of the name type.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameType.NameTypeAuthority" minOccurs="0" maxOccurs="1" name="NameTypeAuthority" type="m:NameTypeAuthority">
        <xs:annotation>
          <xs:documentation>Authority responsible for managing names of this type.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameTypeAuthority" name="NameTypeAuthority">
    <xs:annotation>
      <xs:documentation>Authority responsible for creation and management of names of a given type; typically an organization or an enterprise system.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameTypeAuthority.description" minOccurs="0" maxOccurs="1" name="description" type="xs:string">
        <xs:annotation>
          <xs:documentation>Description of the name type authority.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameTypeAuthority.name" minOccurs="1" maxOccurs="1" name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation>Name of the name type authority.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DERMember">
    <xs:sequence>
      <xs:element sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.mRID" minOccurs="0" name="mRID" type="m:mRID">
        <xs:annotation>
          <xs:documentation>A Model Authority issues mRIDs. Given that each Model Authority has a unique id and this id is part of the mRID, then the mRID is globally unique. Global uniqeness is easily achived by using a UUID for the mRID. It is strongly recommended to do this. For CIMXML data files the mRID is mapped to rdf:ID or rdf:about attributes that identifies CIM object elements. For DERGroup purposes, this has been restricted further to be a GUID. See the simpleType definition.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation>While the name element is optional for most interactions, when a DERMember (EndDevice) is added to a DERGroup, it MUST be populated.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Names" type="m:Name" />
      <xs:element minOccurs="0" name="CapabilityList">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="ActivePower" type="m:ActivePower" />
            <xs:element minOccurs="0" name="ApparentPower" type="m:ApparentPower" />
            <xs:element minOccurs="0" name="ReactivePower" type="m:ReactivePower" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="extensionsList">
    <xs:annotation>
      <xs:documentation>This is an optional, self-describing means to extend any MultiSpeak object.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="extensionsItem" type="m:extensionsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="extensionsItem">
    <xs:annotation>
      <xs:documentation>This is an optional means to add self-describing extensions to any class that inherits from the mspObject.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="extName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="extValue" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="extType" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="extValue">
    <xs:annotation>
      <xs:documentation>This is the value of the extensionsItem.  The units of this extensionsItem are included in the Units attrbute on extValue.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="units" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>If used, this attribute carries the units in which the extValue is expressed. </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType sawsdl:modelReference="http://iec.ch/TC57/2009#Status" name="Status">
    <xs:sequence>
      <xs:element sawsdl:modelReference="http://iec.ch/TC57/2009#Status.dateTime" minOccurs="1" maxOccurs="1" name="dateTime" type="xs:dateTime" />
      <xs:element sawsdl:modelReference="http://iec.ch/TC57/2009#Status.reason" minOccurs="0" maxOccurs="1" name="reason" type="xs:string" />
      <xs:element sawsdl:modelReference="http://iec.ch/TC57/2009#Status.remark" minOccurs="0" maxOccurs="1" name="remark" type="xs:string" />
      <xs:element sawsdl:modelReference="http://iec.ch/TC57/2009#Status.value" minOccurs="1" maxOccurs="1" name="value" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="version">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9].[0-9].[0-9].[0-9]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="mRID">
    <xs:annotation>
      <xs:documentation>This is intended to be a universally unique identifier (UUID) for an instance of an object.  It is intended that this identifier is compliant with the IETF RFC 4122 ("A Universally Unique IDentifier URN Namespace") definition of a UUID. Furthermore, the pattern used to restrict the xs:string should support any of the RFC 4122 UUID variants, including the Microsoft Globally Unique Identifier (GUID) variant of the UUID, without being restricted to supporting ONLY the Microsoft GUID definition.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="UnitSymbol">
    <xs:annotation>
      <xs:documentation>For DER the three primary unit symbols in use are W, VA, and VAr. This is for Active Power, Apparent Power, and Reactiev Power, respectively.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="W" />
      <xs:enumeration value="VA" />
      <xs:enumeration value="VAr" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ActivePower">
    <xs:annotation>
      <xs:documentation>Expressed in Watts, with a symbol of W.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="multiplier" type="m:multiplier" />
      <xs:element default="W" name="unit" type="xs:string" />
      <xs:element name="value" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ApparentPower">
    <xs:annotation>
      <xs:documentation>Expressed in Volt-Ampere, with a symbol of VA.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="multiplier" type="m:multiplier" />
      <xs:element default="VA" name="unit" type="xs:string" />
      <xs:element name="value" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReactivePower">
    <xs:annotation>
      <xs:documentation>Expressed in Vars, with a symbol of VAr.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="multiplier" type="m:multiplier" />
      <xs:element default="VAr" name="unit" type="xs:string" />
      <xs:element name="value" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="multiplier">
    <xs:restriction base="xs:string">
      <xs:annotation>
        <xs:documentation>For the pruposes of DER the prefixes from milli to giga will be used.
						giga		G	1,000,000,000
						mega	M	1,000,000	
						kilo		k	1,000
						hecto	h	100
						deka		da	10
						deci		d	0.1	10-1
						centi		c	0.01	10-2
						milli		m	0.001	10-3
			</xs:documentation>
      </xs:annotation>
      <xs:enumeration value="G" />
      <xs:enumeration value="M" />
      <xs:enumeration value="k" />
      <xs:enumeration value="h" />
      <xs:enumeration value="da" />
      <xs:enumeration value="d" />
      <xs:enumeration value="c" />
      <xs:enumeration value="m" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>