DERMSInterface/DERMSInterface/Service References/CIMDERRequest/DERGroup.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://langdale.com.au/2005/Message#" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:m="http://www.epri.com/2013/DERGroup#" xmlns:a="http://langdale.com.au/2005/Message#" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.epri.com/2013/DERGroup#" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation />
  </xs:annotation>
  <xs:element name="DERGroups" type="m:DERGroups" />
  <xs:element name="DeleteDERGroups" type="m:DERGroups" />
  <xs:element name="ChangedDERGroups" type="m:DERGroups" />
  <xs:complexType name="DERGroups">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="DERGroup">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="m:DERGroup">
              <xs:attribute name="description" />
              <xs:attribute name="comment" />
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DERGroup">
    <xs:annotation>
      <xs:documentation>DERGroup is a convention for a Distributed Energy
				Resource Management System (DERMS) to group DER devices to ease
				communication with other utility systems. Groups could be created
				with any organizing principle, by device type, by location, by
				nameplate characteristics, etc.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="extensionsList" type="m:extensionsList" />
      <xs:element minOccurs="0" maxOccurs="1" name="status" type="m:status" />
      <xs:element minOccurs="1" maxOccurs="1" name="name" type="xs:string" />
      <xs:element sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.mRID" minOccurs="0" name="mRID" type="xs:string">
        <xs:annotation>
          <xs:documentation>A Model Authority issues mRIDs. Given that each
						Model Authority has a unique id and this id is part of the mRID,
						then the mRID is globally unique.</xs:documentation>
          <xs:documentation>Global uniqeness is easily achived by using a
						UUID for the mRID. It is strongly recommended to do this.
					</xs:documentation>
          <xs:documentation>For CIMXML data files the mRID is mapped to
						rdf:ID or rdf:about attributes that identifies CIM object
						elements.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.Names" minOccurs="0" maxOccurs="unbounded" name="Names" type="m:Name">
        <xs:annotation>
          <xs:documentation>All names of this identified object.
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DERMember" type="m:DERMember" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Name" name="Name">
    <xs:annotation>
      <xs:documentation>The Name class provides the means to define any
				number of human readable names for an object. A name is
				&lt;b&gt;not&lt;/b&gt; to be used for defining inter-object
				relationships. For inter-object relationships instead use the object
				identification 'mRID'.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Name.name" minOccurs="1" maxOccurs="1" name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation>Any free text that name the object.
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Name.NameType" minOccurs="0" maxOccurs="1" name="NameType" type="m:NameType">
        <xs:annotation>
          <xs:documentation>Type of this name.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameType" name="NameType">
    <xs:annotation>
      <xs:documentation>Type of name. Possible values for attribute 'name'
				are implementation dependent but standard profiles may specify
				types. An enterprise may have multiple IT systems each having its
				own local name for the same object, e.g. a planning system may have
				different names from an EMS. An object may also have different names
				within the same IT system, e.g. localName and aliasName as defined
				in CIM version 14. Their definitions from CIM14 are
			</xs:documentation>
      <xs:documentation>The localName is a human readable name of the
				object. It is only used with objects organized in a naming
				hierarchy. localName: A free text name local to a node in a naming
				hierarchy similar to a file directory structure. A power system
				related naming hierarchy may be: Substation, VoltageLevel, Equipment
				etc. Children of the same parent in such a hierarchy have names that
				typically are unique among them.</xs:documentation>
      <xs:documentation>aliasName: A free text alternate name typically
				used in tabular reports where the column width is limited.
			</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameType.description" minOccurs="0" maxOccurs="1" name="description" type="xs:string">
        <xs:annotation>
          <xs:documentation>Description of the name type.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameType.name" minOccurs="1" maxOccurs="1" name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation>Name of the name type.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameType.NameTypeAuthority" minOccurs="0" maxOccurs="1" name="NameTypeAuthority" type="m:NameTypeAuthority">
        <xs:annotation>
          <xs:documentation>Authority responsible for managing names of this
						type.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameTypeAuthority" name="NameTypeAuthority">
    <xs:annotation>
      <xs:documentation>Authority responsible for creation and management
				of names of a given type; typically an organization or an enterprise
				system.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameTypeAuthority.description" minOccurs="0" maxOccurs="1" name="description" type="xs:string">
        <xs:annotation>
          <xs:documentation>Description of the name type authority.
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameTypeAuthority.name" minOccurs="1" maxOccurs="1" name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation>Name of the name type authority.
					</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DERMember">
    <xs:sequence>
      <xs:element sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.mRID" minOccurs="0" name="mRID" type="xs:string">
        <xs:annotation>
          <xs:documentation>A Model Authority issues mRIDs. Given that each
						Model Authority has a unique id and this id is part of the mRID,
						then the mRID is globally unique.</xs:documentation>
          <xs:documentation>Global uniqeness is easily achived by using a
						UUID for the mRID. It is strongly recommended to do this.
					</xs:documentation>
          <xs:documentation>For CIMXML data files the mRID is mapped to
						rdf:ID or rdf:about attributes that identifies CIM object
						elements.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element minOccurs="0" name="Names" type="m:Name" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="extensionsList">
    <xs:annotation>
      <xs:documentation>This is an optional, self-describing means to
				extend any MultiSpeak object.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="extensionsItem" type="m:extensionsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="extensionsItem">
    <xs:annotation>
      <xs:documentation>This is an optional means to add self-describing
				extensions to any class that inherits from the mspObject.
			</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="extName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="extValue" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="extType" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="extValue">
    <xs:annotation>
      <xs:documentation>This is the value of the extensionsItem. The units
				of this extensionsItem are included in the Units attrbute on
				extValue.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="units" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>If used, this attribute carries the units in
							which the extValue is expressed. </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType sawsdl:modelReference="http://iec.ch/TC57/2009#Status" name="status">
    <xs:sequence>
      <xs:element sawsdl:modelReference="http://iec.ch/TC57/2009#Status.dateTime" minOccurs="1" maxOccurs="1" name="dateTime" type="xs:dateTime" />
      <xs:element sawsdl:modelReference="http://iec.ch/TC57/2009#Status.reason" minOccurs="0" maxOccurs="1" name="reason" type="xs:string" />
      <xs:element sawsdl:modelReference="http://iec.ch/TC57/2009#Status.remark" minOccurs="0" maxOccurs="1" name="remark" type="xs:string" />
      <xs:element sawsdl:modelReference="http://iec.ch/TC57/2009#Status.value" minOccurs="1" maxOccurs="1" name="value" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>