DERMSInterface/DERMSInterface/Service References/reqDER/SB_DER_Request.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:ns10="http://www.multispeak.org/V5.0/primitives" xmlns:ns3="http://www.multispeak.org/V5.0/commonTypes" xmlns:tns="http://www.sixthc.com/wsdl/DER_Request" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://www.multispeak.org/V5.0/commonArrays" xmlns:ns9="http://www.multispeak.org/V5.0/ws/request" xmlns:ns8="http://www.multispeak.org/V5.0/sandboxArrays" xmlns:ns7="http://www.multispeak.org/V5.0/sandbox" xmlns:ns5="http://www.multispeak.org/V5.0/enumerations" xmlns:ns4="http://www.multispeak.org/V5.0/cpsm" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:ns1="http://www.multispeak.org/V5.0" xmlns:ns6="http://www.multispeak.org/V5.0/gml" xmlns:r="http://www.sixthc.com/wsdl/DER_Request" targetNamespace="http://www.sixthc.com/wsdl/DER_Request" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema>
      <s:import schemaLocation="SB_DER_Request.xsd" namespace="http://www.sixthc.com/wsdl/DER_Request" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.sixthc.com/wsdl/DER_Request">
      <s:element name="GetQuote">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="symbol" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQuoteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetQuoteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DeleteDERGroupsSoapIn">
    <wsdl:part name="parameter" element="r:DeleteDERGroups" />
  </wsdl:message>
  <wsdl:message name="CreateDERGroupsSoapIn">
    <wsdl:part name="parameter" element="r:CreateDERGroups" />
  </wsdl:message>
  <wsdl:message name="GetAttachmentsByObjectRefsSoapIn">
    <wsdl:part name="parameters" element="r:GetAttachmentsByObjectRefs" />
  </wsdl:message>
  <wsdl:message name="GetDERsByDERIDSoapIn">
    <wsdl:part name="parameters" element="r:GetDERsByDERID" />
  </wsdl:message>
  <wsdl:message name="GetDERsByDERIDSoapOut">
    <wsdl:part name="parameters" element="r:GetDERsByDERIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetAttachmentsByObjectRefsSoapOut">
    <wsdl:part name="parameters" element="r:GetAttachmentsByObjectRefsResponse" />
  </wsdl:message>
  <wsdl:message name="GetDERGroupForecastsSoapIn">
    <wsdl:part name="parameter" element="r:GetDERGroupForecasts" />
  </wsdl:message>
  <wsdl:message name="GetDERGroupForecastsSoapOut">
    <wsdl:part name="parameter" element="r:GetDERGroupForecastsResponse" />
  </wsdl:message>
  <wsdl:message name="GetDomainMembersSoapIn">
    <wsdl:part name="parameter" element="r:GetDomainMembers" />
  </wsdl:message>
  <wsdl:message name="GetDomainMembersSoapOut">
    <wsdl:part name="parameter" element="r:GetDomainMembersResponse" />
  </wsdl:message>
  <wsdl:message name="GetDERGroupStatusesByDERGroupIDsSoapIn">
    <wsdl:part name="parameter" element="r:GetDERGroupStatusesByDERGroupIDs" />
  </wsdl:message>
  <wsdl:message name="GetDERGroupStatusesByDERGroupIDsSoapOut">
    <wsdl:part name="parameter" element="r:GetDERGroupStatusesByDERGroupIDsResponse" />
  </wsdl:message>
  <wsdl:message name="LinkAttachmentsToObjectsSoapIn">
    <wsdl:part name="parameter" element="r:LinkAttachmentsToObjects" />
  </wsdl:message>
  <wsdl:message name="GetDomainNamesSoapIn">
    <wsdl:part name="parameter" element="r:GetDomainNames" />
  </wsdl:message>
  <wsdl:message name="GetDomainNamesSoapOut">
    <wsdl:part name="parameter" element="r:GetDomainNamesResponse" />
  </wsdl:message>
  <wsdl:message name="InsertDERsFromDERGroupSoapIn">
    <wsdl:part name="parameter" element="r:InsertDERsInDERGroup" />
  </wsdl:message>
  <wsdl:message name="UnlinkAttachmentsFromObjectsSoapIn">
    <wsdl:part name="parameter" element="r:UnlinkAttachmentsFromObjects" />
  </wsdl:message>
  <wsdl:message name="GetAllDERsSoapOut">
    <wsdl:part name="parameter" element="r:GetAllDERsResponse" />
  </wsdl:message>
  <wsdl:message name="InitiateDERGroupDispatchRequestsSoapIn">
    <wsdl:part name="parameters" element="r:InitiateDERGroupDispatchRequests" />
  </wsdl:message>
  <wsdl:message name="GetMethodsSoapIn">
    <wsdl:part name="parameter" element="r:GetMethods" />
  </wsdl:message>
  <wsdl:message name="PingURLSoapIn">
    <wsdl:part name="parameter" element="r:PingURL" />
  </wsdl:message>
  <wsdl:message name="GetMethodsSoapOut">
    <wsdl:part name="parameter" element="r:GetMethodsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllDERsSoapIn">
    <wsdl:part name="parameter" element="r:GetAllDERs" />
  </wsdl:message>
  <wsdl:message name="RemoveDERsFromDERGroupSoapIn">
    <wsdl:part name="parameter" element="r:RemoveDERsFromDERGroup" />
  </wsdl:message>
  <wsdl:portType name="DERRequest_Port">
    <wsdl:operation name="DeleteDERGroups">
      <wsdl:input message="r:DeleteDERGroupsSoapIn" />
    </wsdl:operation>
    <wsdl:operation name="CreateDERGroups">
      <wsdl:input message="r:CreateDERGroupsSoapIn" />
    </wsdl:operation>
    <wsdl:operation name="GetDERsByDERID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Request a
				DERGroupCreate Soap Message</wsdl:documentation>
      <wsdl:input message="r:GetDERsByDERIDSoapIn" />
      <wsdl:output message="r:GetDERsByDERIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAttachmentsByObjectRefs">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Request a
				DERGroupCreate Soap Message</wsdl:documentation>
      <wsdl:input message="r:GetAttachmentsByObjectRefsSoapIn" />
      <wsdl:output message="r:GetAttachmentsByObjectRefsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDERGroupForecasts">
      <wsdl:input message="r:GetDERGroupForecastsSoapIn" />
      <wsdl:output message="r:GetDERGroupForecastsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDomainMembers">
      <wsdl:input message="r:GetDomainMembersSoapIn" />
      <wsdl:output message="r:GetDomainMembersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDERGroupStatusesByDERGroupIDs">
      <wsdl:input message="r:GetDERGroupStatusesByDERGroupIDsSoapIn" />
      <wsdl:output message="r:GetDERGroupStatusesByDERGroupIDsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LinkAttachmentsToObjects">
      <wsdl:input message="r:LinkAttachmentsToObjectsSoapIn" />
    </wsdl:operation>
    <wsdl:operation name="GetDomainNames">
      <wsdl:input message="r:GetDomainNamesSoapIn" />
      <wsdl:output message="r:GetDomainNamesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertDERsInDERGroup">
      <wsdl:input message="r:InsertDERsFromDERGroupSoapIn" />
    </wsdl:operation>
    <wsdl:operation name="UnlinkAttachmentsFromObjects">
      <wsdl:input message="r:UnlinkAttachmentsFromObjectsSoapIn" />
    </wsdl:operation>
    <wsdl:operation name="GetMethods">
      <wsdl:input message="r:GetMethodsSoapIn" />
      <wsdl:output message="r:GetMethodsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDERs">
      <wsdl:input message="r:GetAllDERsSoapIn" />
      <wsdl:output message="r:GetAllDERsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveDERsFromDERGroup">
      <wsdl:input message="r:RemoveDERsFromDERGroupSoapIn" />
    </wsdl:operation>
    <wsdl:operation name="InitiateDERGroupDispatchRequests">
      <wsdl:input message="r:InitiateDERGroupDispatchRequestsSoapIn" />
    </wsdl:operation>
    <wsdl:operation name="PingURL">
      <wsdl:input message="r:PingURLSoapIn" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DERRequest_Binding" type="r:DERRequest_Port">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DeleteDERGroups">
      <soap:operation soapAction="#DeleteDERGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CreateDERGroups">
      <soap:operation soapAction="#CreateDERGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetDERsByDERID">
      <soap:operation soapAction="#GetDERsByDERID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAttachmentsByObjectRefs">
      <soap:operation soapAction="urn:#GetAttachmentsByObjectRefs" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDERGroupForecasts">
      <soap:operation soapAction="urn:#GetDERGroupsForecasts" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDomainMembers">
      <soap:operation soapAction="urn:#GetDomainMembers" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDERGroupStatusesByDERGroupIDs">
      <soap:operation soapAction="urn:#GetDERGroupStatusesByDERGroupIDs" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LinkAttachmentsToObjects">
      <soap:operation soapAction="urn:#LinkAttachmentsToObjects" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetDomainNames">
      <soap:operation soapAction="urn:#GetDomainNames" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertDERsInDERGroup">
      <soap:operation soapAction="urn:#InsertDERsInDERGroup" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UnlinkAttachmentsFromObjects">
      <soap:operation soapAction="urn:#UnlinkAttachmentsFromObjects" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetMethods">
      <soap:operation soapAction="urn:#GetMethods" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDERs">
      <soap:operation soapAction="urn:#GetAllDERs" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveDERsFromDERGroup">
      <soap:operation soapAction="urn:#RemoveDERsFromDERGroup" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="InitiateDERGroupDispatchRequests">
      <soap:operation soapAction="urn:#InitiateDERGroupDispatchRequests" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="PingURL">
      <soap:operation soapAction="urn:#PingURL" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DERRequest">
    <wsdl:port name="tns:DERRequest_Port" binding="r:DERRequest_Binding">
      <soap:address location="http://www.sixthc.com/wsdl/DER_Request" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>