DER/wsdl/GetDERGroupCapability2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="GetDERGroupCapability"
	targetNamespace="http://iec.ch/TC57/2011/GetDERGroupCapability"
	xmlns:tns="http://iec.ch/TC57/2011/GetDERGroupCapability" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:infoMessage="http://iec.ch/TC57/2011/GetDERGroupCapabilityMessage">
	<wsdl:types>
		<xs:schema xmlns:tns="http://iec.ch/TC57/2011/GetDERGroupCapabilityMessage"
			xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msg="http://www.iec.ch/TC57/2011/schema/message"
			xmlns:obj1="http://www.epri.com/2013/DERStatus#" targetNamespace="http://iec.ch/TC57/2011/GetDERGroupCapabilityMessage"
			elementFormDefault="qualified" attributeFormDefault="unqualified"
			version="1.0.0">
			<!-- Base Message Definitions -->
			<xs:import namespace="http://www.iec.ch/TC57/2011/schema/message"
				schemaLocation="xsd/Message.xsd" />
			<!-- CIM Information Object Definition -->
			<xs:import namespace="http://www.epri.com/2013/DERStatus#"
				schemaLocation="xsd/DERGroupStatuses.xsd" />
			<xs:complexType name="GetDERGroupCapabilityRequestType">
				<xs:sequence>
					<xs:element name="StartTime" type="xs:dateTime"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>Start time of interest</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="EndTime" type="xs:dateTime" minOccurs="0">
						<xs:annotation>
							<xs:documentation>End time of interest</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Option" type="msg:OptionType"
						minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Request type specialization</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ID" type="xs:string" minOccurs="0"
						maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Object ID for request</xs:documentation>
						</xs:annotation>
					</xs:element>
					<!-- Remove this Element if there is no "Get" Profile associated with 
						this Object. -->
					<xs:any namespace="##other" processContents="lax" minOccurs="0"
						maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>This can be a CIM profile defined as an XSD
								with
								a CIMspecific
								namespace
							</xs:documentation>
						</xs:annotation>
					</xs:any>
				</xs:sequence>
			</xs:complexType>
			<!-- PayloadType Definition -->
			<xs:complexType name="GetDERGroupCapabilityPayloadType">
				<xs:sequence>
					<xs:element ref="obj1:DERGroupCapabilities" minOccurs="0" />
					<xs:element name="OperationSet" type="msg:OperationSet"
						minOccurs="0" />
					<xs:element name="Compressed" type="xs:string"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>For compressed and/or binary, uuencoded
								payloads
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Format" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Hint as to format of payload, e.g. XML, RDF,
								SVF,
								BINARY,
								PDF, ...
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<!-- Message Types -->
			<!-- RequestMessageType -->
			<xs:complexType name="GetDERGroupCapabilityRequestMessageType">
				<xs:sequence>
					<xs:element name="Header" type="msg:HeaderType" />
					<xs:element name="Request" type="tns:GetDERGroupCapabilityRequestType" />
					<xs:element name="Payload" type="tns:GetDERGroupCapabilityPayloadType"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<!-- ResponseMessageType -->
			<xs:complexType name="GetDERGroupCapabilityResponseMessageType">
				<xs:sequence>
					<xs:element name="Header" type="msg:HeaderType" />
					<xs:element name="Reply" type="msg:ReplyType" />
					<xs:element name="Payload" type="tns:GetDERGroupCapabilityPayloadType"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<!-- FaultMessageType -->
			<xs:complexType name="GetDERGroupCapabilityFaultMessageType">
				<xs:sequence>
					<xs:element name="Reply" type="msg:ReplyType" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="GetDERGroupCapability"
				type="tns:GetDERGroupCapabilityRequestMessageType" />
			<xs:element name="GetDERGroupCapabilityResponseMessage"
				type="tns:GetDERGroupCapabilityResponseMessageType" />
			<xs:element name="GetDERGroupCapabilityFaultMessage"
				type="tns:GetDERGroupCapabilityFaultMessageType" />
		</xs:schema>
	</wsdl:types>


	<!-- Message Definitions -->
	<wsdl:message name="GetDERGroupCapabilityRequestMessage">
		<wsdl:part name="GetDERGroupCapabilityRequestMessage"
			element="infoMessage:GetDERGroupCapability" />
	</wsdl:message>
	<wsdl:message name="ResponseMessage">
		<wsdl:part name="ResponseMessage"
			element="infoMessage:GetDERGroupCapabilityResponseMessage" />
	</wsdl:message>
	<wsdl:message name="FaultMessage">
		<wsdl:part name="FaultMessage"
			element="infoMessage:GetDERGroupCapabilityFaultMessage" />
	</wsdl:message>
	<!-- Port Definitions -->
	<wsdl:portType name="GetDERGroupCapability_Port">
		<wsdl:operation name="GetDERGroupCapability">
			<wsdl:input name="GetDERGroupCapabilityRequest" message="tns:GetDERGroupCapabilityRequestMessage" />
			<wsdl:output name="GetDERGroupCapabilityResponse"
				message="tns:ResponseMessage" />
			<wsdl:fault name="GetDERGroupCapabilityFault" message="tns:FaultMessage" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="GetDERGroupCapability_Binding" type="tns:GetDERGroupCapability_Port">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetDERGroupCapability">
			<soap:operation
				soapAction="http://iec.ch/TC57/2011/GetDERGroupCapability/GetDERGroupCapability"
				style="document" />
			<wsdl:input name="GetDERGroupCapabilityRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="GetDERGroupCapabilityResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="GetDERGroupCapabilityFault">
				<soap:fault name="GetDERGroupCapabilityFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="GetDERGroupCapability">
		<wsdl:port name="GetDERGroupCapability_Port" binding="tns:GetDERGroupCapability_Binding">
			<soap:address location="http://iec.ch/TC57/2011/GetDERGroupCapability" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
