DER/wsdl/PAP_Request.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:ns="http://sixthc.com/pap"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:req="http://sixthc.com/PAP/Request"
	targetNamespace="http://sixthc.com/pap">

	<wsdl:types>
		<xs:schema targetNamespace="http://sixthc.com/PAP"
			elementFormDefault="qualified">
			<xs:import namespace="http://iec.ch/TC57/2011/DERGroupMessage"
				schemaLocation="xsd/RequestDERGroupMessage.xsd" />
		</xs:schema>
	</wsdl:types>

	<wsdl:import namespace="http://sixthc.com/PAP/Request#"
		location="PAP_Request.xsd" />



	<wsdl:message name="createDemandResponseDeploymentSoapIn">
		<wsdl:part name="Message"
			element="req:CreateDemandResponseDeploymentRequestPayload" />
	</wsdl:message>

	<wsdl:message name="createDemandResponseDeploymentSoapOut">
		<wsdl:part name="Message" element="req:DemandResponseDeploymentResponse" />
	</wsdl:message>


	<wsdl:message name="demandResponseDeploymentResponseSoapIn">
		<wsdl:part name="Message"
			element="req:DemandResponseDeploymentResponseRequestPayloadType" />
	</wsdl:message>

	<wsdl:message name="demandResponseDeploymentResponseSoapOut">
		<wsdl:part name="Message"
			element="req:DemandResponseDeploymentResponseResponse" />
	</wsdl:message>

	<wsdl:portType name="papRequest_ServerSoap">

		<wsdl:operation name="createDemandResponseDeployment">
			<wsdl:input message="ns:createDemandResponseDeploymentSoapIn" />
			<wsdl:output message="ns:createDemandResponseDeploymentSoapOut" />
		</wsdl:operation>

		<wsdl:operation name="createdDemandResponseDeploymentResponse">
			<wsdl:input message="ns:demandResponseDeploymentResponseSoapIn" />
			<wsdl:output message="ns:demandResponseDeploymentResponseSoapOut" />
		</wsdl:operation>



	</wsdl:portType>
	<wsdl:binding name="papRequest_ServerSoap" type="ns:papRequest_ServerSoap">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />



		<wsdl:operation name="createDemandResponseDeployment">
			<soap:operation soapAction="http://sixthc.com/pap/createDemandResponseDeployment" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="createdDemandResponseDeploymentResponse">
			<soap:operation
				soapAction="http://sixthc.com/pap/createdDemandResponseDeploymentResponse" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

	</wsdl:binding>
	
	<wsdl:service name="papRequest_Port">
		<wsdl:port name="papRequest_ServerSoap" binding="ns:papRequest_ServerSoap">
			<soap:address location="http://sixthc.com/pap/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
