DER/wsdl/RequestDERGroupDispatch2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="RequestDERGroupDispatch"
	targetNamespace="http://iec.ch/TC57/2011/RequestDERGroupDispatch"
	xmlns:tns="http://iec.ch/TC57/2011/RequestDERGroupDispatch" 
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:infoMessage="http://iec.ch/TC57/2011/DERGroupDispatchMessage">
	<wsdl:types>
<xs:schema xmlns:tns="http://iec.ch/TC57/2011/DERGroupDispatchMessage"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msg="http://iec.ch/TC57/2011/schema/message"
	xmlns:obj="http://www.epri.com/2013/DERGroupDispatch#" 
	targetNamespace="http://iec.ch/TC57/2011/DERGroupDispatchMessage"
	elementFormDefault="qualified" attributeFormDefault="unqualified"
	version="1.0.0">
	<!-- Base Message Definitions -->
	<xs:import namespace="http://iec.ch/TC57/2011/schema/message"
		schemaLocation="xsd/Message.xsd" />
	<!-- CIM Information Object Definition -->
	<xs:import namespace="http://www.epri.com/2013/DERGroupDispatch#" 
		schemaLocation="xsd/DERGroupDispatch.xsd" />
	<!-- PayloadType Definition -->
	<xs:complexType name="DERGroupDispatchPayloadType">
		<xs:sequence>
			<xs:element ref="obj:DERGroupDispatches" />
			<xs:element name="OperationSet" type="msg:OperationSet"
				minOccurs="0" />
			<xs:element name="Compressed" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>For compressed and/or binary, uuencoded
						payloads</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Format" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Hint as to format of payload, e.g. XML, RDF, SVF,
						BINARY,
						PDF, ...</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- Message Types -->
	<!-- RequestMessageType -->
	<xs:complexType name="DERGroupDispatchRequestMessageType">
		<xs:sequence>
			<xs:element name="Header" type="msg:HeaderType" />
			<xs:element name="Request" type="msg:RequestType"
				minOccurs="0" />
			<xs:element name="Payload"
				type="tns:DERGroupDispatchPayloadType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<!-- ResponseMessageType -->
	<xs:complexType name="DERGroupDispatchResponseMessageType">
		<xs:sequence>
			<xs:element name="Header" type="msg:HeaderType" />
			<xs:element name="Reply" type="msg:ReplyType" />
			<xs:element name="Payload"
				type="tns:DERGroupDispatchPayloadType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<!-- EventMessageType -->
	<xs:complexType name="DERGroupDispatchEventMessageType">
		<xs:sequence>
			<xs:element name="Header" type="msg:HeaderType" />
			<xs:element name="Payload"
				type="tns:DERGroupDispatchPayloadType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<!-- FaultMessageType -->
	<xs:complexType name="DERGroupDispatchFaultMessageType">
		<xs:sequence>
			<xs:element name="Reply" type="msg:ReplyType" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CreateDERGroupDispatch"
		type="tns:DERGroupDispatchRequestMessageType" />
	<xs:element name="ChangeDERGroupDispatch"
		type="tns:DERGroupDispatchRequestMessageType" />
	<xs:element name="CancelDERGroupDispatch"
		type="tns:DERGroupDispatchRequestMessageType" />
	<xs:element name="CloseDERGroupDispatch"
		type="tns:DERGroupDispatchRequestMessageType" />
	<xs:element name="DeleteDERGroupDispatch"
		type="tns:DERGroupDispatchRequestMessageType" />
	<xs:element name="CreatedDERGroupDispatch"
		type="tns:DERGroupDispatchEventMessageType" />
	<xs:element name="ChangedDERGroupDispatch"
		type="tns:DERGroupDispatchEventMessageType" />
	<xs:element name="CanceledDERGroupDispatch"
		type="tns:DERGroupDispatchEventMessageType" />
	<xs:element name="ClosedDERGroupDispatch"
		type="tns:DERGroupDispatchEventMessageType" />
	<xs:element name="DeletedDERGroupDispatch"
		type="tns:DERGroupDispatchEventMessageType" />
	<xs:element name="DERGroupDispatchResponseMessage"
		type="tns:DERGroupDispatchResponseMessageType" />
	<xs:element name="DERGroupDispatchFaultMessage"
		type="tns:DERGroupDispatchFaultMessageType" />
</xs:schema>
	</wsdl:types>
	<!-- Message Definitions -->
	<wsdl:message name="CreateDERGroupDispatchRequestMessage">
		<wsdl:part name="CreateDERGroupDispatchRequestMessage"
			element="infoMessage:CreateDERGroupDispatch" />
	</wsdl:message>
	<wsdl:message name="ChangeDERGroupDispatchRequestMessage">
		<wsdl:part name="ChangeDERGroupDispatchRequestMessage"
			element="infoMessage:ChangeDERGroupDispatch" />
	</wsdl:message>
	<wsdl:message name="CloseDERGroupDispatchRequestMessage">
		<wsdl:part name="CloseDERGroupDispatchRequestMessage"
			element="infoMessage:CloseDERGroupDispatch" />
	</wsdl:message>
	<wsdl:message name="CancelDERGroupDispatchRequestMessage">
		<wsdl:part name="CancelDERGroupDispatchRequestMessage"
			element="infoMessage:CancelDERGroupDispatch" />
	</wsdl:message>
	<wsdl:message name="DeleteDERGroupDispatchRequestMessage">
		<wsdl:part name="DeleteDERGroupDispatchRequestMessage"
			element="infoMessage:DeleteDERGroupDispatch" />
	</wsdl:message>
	<wsdl:message name="ResponseMessage">
		<wsdl:part name="ResponseMessage"
			element="infoMessage:DERGroupDispatchResponseMessage" />
	</wsdl:message>
	<wsdl:message name="FaultMessage">
		<wsdl:part name="FaultMessage" element="infoMessage:DERGroupDispatchFaultMessage" />
	</wsdl:message>
	<!-- Port Definitions -->
	<wsdl:portType name="DERGroupDispatch_Port">
		<wsdl:operation name="CreateDERGroupDispatch">
			<wsdl:input name="CreateDERGroupDispatchRequest"
				message="tns:CreateDERGroupDispatchRequestMessage" />
			<wsdl:output name="CreateDERGroupDispatchResponse"
				message="tns:ResponseMessage" />
			<wsdl:fault name="CreateDERGroupDispatchFault" message="tns:FaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="ChangeDERGroupDispatch">
			<wsdl:input name="ChangeDERGroupDispatchRequest"
				message="tns:ChangeDERGroupDispatchRequestMessage" />
			<wsdl:output name="ChangeDERGroupDispatchResponse"
				message="tns:ResponseMessage" />
			<wsdl:fault name="ChangeDERGroupDispatchFault" message="tns:FaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="CancelDERGroupDispatch">
			<wsdl:input name="CancelDERGroupDispatchRequest"
				message="tns:CancelDERGroupDispatchRequestMessage" />
			<wsdl:output name="CancelDERGroupDispatchResponse"
				message="tns:ResponseMessage" />
			<wsdl:fault name="CancelDERGroupDispatchFault" message="tns:FaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="CloseDERGroupDispatch">
			<wsdl:input name="CloseDERGroupDispatchRequest" message="tns:CloseDERGroupDispatchRequestMessage" />
			<wsdl:output name="CloseDERGroupDispatchResponse"
				message="tns:ResponseMessage" />
			<wsdl:fault name="CloseDERGroupDispatchFault" message="tns:FaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="DeleteDERGroupDispatch">
			<wsdl:input name="DeleteDERGroupDispatchRequest"
				message="tns:DeleteDERGroupDispatchRequestMessage" />
			<wsdl:output name="DeleteDERGroupDispatchResponse"
				message="tns:ResponseMessage" />
			<wsdl:fault name="DeleteDERGroupDispatchFault" message="tns:FaultMessage" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="DERGroupDispatch_Binding" type="tns:DERGroupDispatch_Port">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="CreateDERGroupDispatch">
			<soap:operation
				soapAction="http://iec.ch/TC57/2011/DERGroupDispatch/CreateDERGroupDispatch"
				style="document" />
			<wsdl:input name="CreateDERGroupDispatchRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="CreateDERGroupDispatchResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="CreateDERGroupDispatchFault">
				<soap:fault name="CreateDERGroupDispatchFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ChangeDERGroupDispatch">
			<soap:operation
				soapAction="http://iec.ch/TC57/2011/DERGroupDispatch/ChangeDERGroupDispatch"
				style="document" />
			<wsdl:input name="ChangeDERGroupDispatchRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ChangeDERGroupDispatchResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ChangeDERGroupDispatchFault">
				<soap:fault name="ChangeDERGroupDispatchFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="CancelDERGroupDispatch">
			<soap:operation
				soapAction="http://iec.ch/TC57/2011/DERGroupDispatch/CancelDERGroupDispatch"
				style="document" />
			<wsdl:input name="CancelDERGroupDispatchRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="CancelDERGroupDispatchResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="CancelDERGroupDispatchFault">
				<soap:fault name="CancelDERGroupDispatchFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="CloseDERGroupDispatch">
			<soap:operation
				soapAction="http://iec.ch/TC57/2011/DERGroupDispatch/CloseDERGroupDispatch"
				style="document" />
			<wsdl:input name="CloseDERGroupDispatchRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="CloseDERGroupDispatchResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="CloseDERGroupDispatchFault">
				<soap:fault name="CloseDERGroupDispatchFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="DeleteDERGroupDispatch">
			<soap:operation
				soapAction="http://iec.ch/TC57/2011/DERGroupDispatch/DeleteDERGroupDispatch"
				style="document" />
			<wsdl:input name="DeleteDERGroupDispatchRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="DeleteDERGroupDispatchResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="DeleteDERGroupDispatchFault">
				<soap:fault name="DeleteDERGroupDispatchFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="RequestDERGroupDispatch">
		<wsdl:port name="DERGroupDispatch_Port" binding="tns:DERGroupDispatch_Binding">
			<soap:address location="http://iec.ch/TC57/2011/RequestDERGroupDispatch" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>