DERMSInterface/DERMSInterface/Service References/CIMGetDERGroup/GetDERGroup_Port.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://iec.ch/TC57/2011/GetDERGroup" xmlns:ns2="http://iec.ch/TC57/2011/GetDERGroupMessage" name="GetDERGroup_Port" targetNamespace="http://iec.ch/TC57/2011/GetDERGroup" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:tns="http://www.epri.com/2013/DERGroup#" elementFormDefault="qualified" targetNamespace="http://www.epri.com/2013/DERGroup#" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="ChangedDERGroups" type="tns:DERGroups" />
      <xs:element name="DERGroups" type="tns:DERGroups" />
      <xs:element name="DeleteDERGroups" type="tns:DERGroups" />
      <xs:complexType name="DERGroups">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="DERGroup">
            <xs:complexType>
              <xs:complexContent mixed="false">
                <xs:extension base="tns:DERGroup">
                  <xs:sequence />
                  <xs:attribute name="description" type="xs:anySimpleType" />
                  <xs:attribute name="comment" type="xs:anySimpleType" />
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DERGroup">
        <xs:sequence>
          <xs:element minOccurs="0" name="extensionsList" type="tns:extensionsList" />
          <xs:element minOccurs="0" name="status" type="tns:status" />
          <xs:element name="name" type="xs:string" />
          <xs:element minOccurs="0" name="mRID" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Names" type="tns:Name" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="DERMember" type="tns:DERMember" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="extensionsList">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="extensionsItem" type="tns:extensionsItem" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="extensionsItem">
        <xs:sequence>
          <xs:element name="extName" type="xs:string" />
          <xs:element name="extValue" type="xs:string" />
          <xs:element minOccurs="0" name="extType" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="status">
        <xs:sequence>
          <xs:element name="dateTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="reason" type="xs:string" />
          <xs:element minOccurs="0" name="remark" type="xs:string" />
          <xs:element name="value" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Name">
        <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element minOccurs="0" name="NameType" type="tns:NameType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="NameType">
        <xs:sequence>
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element name="name" type="xs:string" />
          <xs:element minOccurs="0" name="NameTypeAuthority" type="tns:NameTypeAuthority" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="NameTypeAuthority">
        <xs:sequence>
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element name="name" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DERMember">
        <xs:sequence>
          <xs:element minOccurs="0" name="mRID" type="xs:string" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element minOccurs="0" name="Names" type="tns:Name" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="extValue">
        <xs:simpleContent>
          <xs:extension base="xs:string">
            <xs:attribute name="units" type="xs:string" />
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:tns="http://iec.ch/TC57/2011/schema/message" elementFormDefault="qualified" targetNamespace="http://iec.ch/TC57/2011/schema/message" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="EventMessage" type="tns:EventMessageType" />
      <xs:element name="FaultMessage" type="tns:FaultMessageType" />
      <xs:element name="Message" type="tns:MessageType" />
      <xs:element name="RequestMessage" type="tns:RequestMessageType" />
      <xs:element name="ResponseMessage" type="tns:ResponseMessageType" />
      <xs:complexType name="HeaderType">
        <xs:sequence>
          <xs:element name="Verb" type="xs:string" />
          <xs:element name="Noun" type="xs:string" />
          <xs:element minOccurs="0" name="Revision" type="xs:string" />
          <xs:element minOccurs="0" name="ReplayDetection" type="tns:ReplayDetectionType" />
          <xs:element minOccurs="0" name="Context" type="xs:string" />
          <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Source" type="xs:string" />
          <xs:element minOccurs="0" name="AsyncReplyFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="ReplyAddress" type="xs:string" />
          <xs:element minOccurs="0" name="AckRequired" type="xs:boolean" />
          <xs:element minOccurs="0" name="User" type="tns:UserType" />
          <xs:element minOccurs="0" name="MessageID" type="xs:string" />
          <xs:element minOccurs="0" name="CorrelationID" type="xs:string" />
          <xs:element minOccurs="0" name="Comment" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Property" type="tns:MessageProperty" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ReplayDetectionType">
        <xs:sequence>
          <xs:element name="Nonce" type="xs:string" />
          <xs:element name="Created" type="xs:dateTime" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UserType">
        <xs:sequence>
          <xs:element name="UserID" type="xs:string" />
          <xs:element minOccurs="0" name="Organization" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="MessageProperty">
        <xs:sequence>
          <xs:element name="Name" type="xs:string" />
          <xs:element minOccurs="0" name="Value" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="MessageType">
        <xs:sequence>
          <xs:element name="Header" type="tns:HeaderType" />
          <xs:element minOccurs="0" name="Request" type="tns:RequestType" />
          <xs:element minOccurs="0" name="Reply" type="tns:ReplyType" />
          <xs:element minOccurs="0" name="Payload" type="tns:PayloadType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RequestType">
        <xs:sequence>
          <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Option" type="tns:OptionType" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ID">
            <xs:complexType>
              <xs:simpleContent>
                <xs:extension base="xs:string">
                  <xs:attribute name="idType" type="xs:string" />
                  <xs:attribute name="idAuthority" type="xs:string" />
                  <xs:attribute name="kind" type="tns:IDKindType" />
                  <xs:attribute name="objectType" type="xs:string" />
                </xs:extension>
              </xs:simpleContent>
            </xs:complexType>
          </xs:element>
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="OptionType">
        <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element minOccurs="0" name="value" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ReplyType">
        <xs:sequence>
          <xs:element name="Result" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Error" type="tns:ErrorType" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ID">
            <xs:complexType>
              <xs:simpleContent>
                <xs:extension base="xs:string">
                  <xs:attribute name="idType" type="xs:string" />
                  <xs:attribute name="idAuthority" type="xs:string" />
                  <xs:attribute name="kind" type="tns:IDKindType" />
                  <xs:attribute name="objectType" type="xs:string" />
                </xs:extension>
              </xs:simpleContent>
            </xs:complexType>
          </xs:element>
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
          <xs:element minOccurs="0" name="operationId" type="xs:integer" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ErrorType">
        <xs:sequence>
          <xs:element name="code" type="xs:string" />
          <xs:element minOccurs="0" name="level" type="xs:string" />
          <xs:element minOccurs="0" name="reason" type="xs:string" />
          <xs:element minOccurs="0" name="details" type="xs:string" />
          <xs:element minOccurs="0" name="xpath" type="xs:QName" />
          <xs:element minOccurs="0" name="stackTrace" type="xs:string" />
          <xs:element minOccurs="0" name="Location" type="tns:LocationType" />
          <xs:element minOccurs="0" name="ID">
            <xs:complexType>
              <xs:simpleContent>
                <xs:extension base="xs:string">
                  <xs:attribute name="idType" type="xs:string" />
                  <xs:attribute name="idAuthority" type="xs:string" />
                  <xs:attribute name="kind" type="tns:IDKindType" />
                  <xs:attribute name="objectType" type="xs:string" />
                </xs:extension>
              </xs:simpleContent>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="relatedID">
            <xs:complexType>
              <xs:simpleContent>
                <xs:extension base="xs:string">
                  <xs:attribute name="idType" type="xs:string" />
                  <xs:attribute name="idAuthority" type="xs:string" />
                  <xs:attribute name="kind" type="tns:IDKindType" />
                  <xs:attribute name="objectType" type="xs:string" />
                </xs:extension>
              </xs:simpleContent>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="object" type="tns:ObjectType" />
          <xs:element minOccurs="0" name="operationId" type="xs:integer" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="LocationType">
        <xs:sequence>
          <xs:element minOccurs="0" name="node" type="xs:string" />
          <xs:element minOccurs="0" name="pipeline" type="xs:string" />
          <xs:element minOccurs="0" name="stage" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ObjectType">
        <xs:sequence>
          <xs:element minOccurs="0" name="mRID" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Name" type="tns:Name" />
          <xs:element minOccurs="0" name="objectType" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Name">
        <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element minOccurs="0" name="NameType" type="tns:NameType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="NameType">
        <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element minOccurs="0" name="NameTypeAuthority" type="tns:NameTypeAuthority" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="NameTypeAuthority">
        <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element minOccurs="0" name="description" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PayloadType">
        <xs:sequence>
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="skip" />
          <xs:element minOccurs="0" name="OperationSet" type="tns:OperationSet" />
          <xs:element minOccurs="0" name="Compressed" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ID">
            <xs:complexType>
              <xs:simpleContent>
                <xs:extension base="xs:string">
                  <xs:attribute name="idType" type="xs:string" />
                  <xs:attribute name="idAuthority" type="xs:string" />
                  <xs:attribute name="kind" type="tns:IDKindType" />
                  <xs:attribute name="objectType" type="xs:string" />
                </xs:extension>
              </xs:simpleContent>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="Format" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="OperationSet">
        <xs:sequence>
          <xs:element minOccurs="0" name="enforceMsgSequence" type="xs:boolean" />
          <xs:element minOccurs="0" name="enforceTransactionalIntegrity" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Operation" type="tns:OperationType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="OperationType">
        <xs:sequence>
          <xs:element name="operationId" type="xs:integer" />
          <xs:element minOccurs="0" name="noun" type="xs:string" />
          <xs:element minOccurs="0" name="verb" type="xs:string" />
          <xs:element minOccurs="0" default="false" name="elementOperation" type="xs:boolean" />
          <xs:any namespace="##other" processContents="skip" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ResponseMessageType">
        <xs:sequence>
          <xs:element name="Header" type="tns:HeaderType" />
          <xs:element name="Reply" type="tns:ReplyType" />
          <xs:element minOccurs="0" name="Payload" type="tns:PayloadType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RequestMessageType">
        <xs:sequence>
          <xs:element name="Header" type="tns:HeaderType" />
          <xs:element minOccurs="0" name="Request" type="tns:RequestType" />
          <xs:element minOccurs="0" name="Payload" type="tns:PayloadType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="EventMessageType">
        <xs:sequence>
          <xs:element name="Header" type="tns:HeaderType" />
          <xs:element minOccurs="0" name="Payload" type="tns:PayloadType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="FaultMessageType">
        <xs:sequence>
          <xs:element name="Reply" type="tns:ReplyType" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="IDKindType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="name" />
          <xs:enumeration value="uuid" />
          <xs:enumeration value="transaction" />
          <xs:enumeration value="other" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
    <xs:schema xmlns:tns="http://iec.ch/TC57/2011/GetDERGroupMessage" xmlns:ns1="http://iec.ch/TC57/2011/schema/message" xmlns:ns2="http://www.epri.com/2013/DERGroup#" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://iec.ch/TC57/2011/GetDERGroupMessage" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://iec.ch/TC57/2011/schema/message" />
      <xs:import namespace="http://www.epri.com/2013/DERGroup#" />
      <xs:element name="DERGroupFaultMessage" type="tns:DERGroupFaultMessageType" />
      <xs:element name="DERGroupResponseMessage" type="tns:DERGroupResponseMessageType" />
      <xs:element name="GetDERGroup" type="tns:GetDERGroupRequestMessageType" />
      <xs:complexType name="GetDERGroupRequestMessageType">
        <xs:sequence>
          <xs:element name="Header" type="ns1:HeaderType" />
          <xs:element name="Request" type="tns:GetDERGroupRequestType" />
          <xs:element minOccurs="0" name="Payload" type="tns:DERGroupPayloadType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetDERGroupRequestType">
        <xs:sequence>
          <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Option" type="ns1:OptionType" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ID" type="xs:string" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DERGroupPayloadType">
        <xs:sequence>
          <xs:element minOccurs="0" ref="ns2:DERGroups" />
          <xs:element minOccurs="0" name="OperationSet" type="ns1:OperationSet" />
          <xs:element minOccurs="0" name="Compressed" type="xs:string" />
          <xs:element minOccurs="0" name="Format" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DERGroupResponseMessageType">
        <xs:sequence>
          <xs:element name="Header" type="ns1:HeaderType" />
          <xs:element name="Reply" type="ns1:ReplyType" />
          <xs:element minOccurs="0" name="Payload" type="tns:DERGroupPayloadType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DERGroupFaultMessageType">
        <xs:sequence>
          <xs:element name="Reply" type="ns1:ReplyType" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="FaultMessage">
    <wsdl:part name="FaultMessage" element="ns2:DERGroupFaultMessage" />
  </wsdl:message>
  <wsdl:message name="GetDERGroupResponse">
    <wsdl:part name="parameters" element="ns2:DERGroupResponseMessage" />
  </wsdl:message>
  <wsdl:message name="GetDERGroup">
    <wsdl:part name="parameters" element="ns2:GetDERGroup" />
  </wsdl:message>
  <wsdl:portType name="GetDERGroup_Port">
    <wsdl:operation name="GetDERGroup">
      <wsdl:input name="GetDERGroup" message="ns1:GetDERGroup" />
      <wsdl:output name="GetDERGroupResponse" message="ns1:GetDERGroupResponse" />
      <wsdl:fault name="FaultMessage" message="ns1:FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>